attrs==21.2.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
click==7.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
commonmark==0.9.1; python_version >= "3.6" and python_version < "4.0"
dataclasses==0.8; python_version >= "3.6" and python_version < "3.7" and python_full_version >= "3.6.1"
decorator==5.1.0; python_version >= "3.5"
importlib-metadata==4.8.1; python_version < "3.8" and python_version >= "3.6"
ipython-genutils==0.2.0; python_version >= "3.5"
jsonschema==4.0.0; python_version >= "3.5"
jupyter-core==4.8.1; python_version >= "3.6"
nbformat==5.1.2; python_version >= "3.5"
pydantic==1.8.1; python_full_version >= "3.6.1"
pygments==2.10.0; python_version >= "3.6" and python_version < "4.0"
pyrsistent==0.18.0; python_version >= "3.6"
pywin32==301; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.6"
rich==9.13.0; python_version >= "3.6" and python_version < "4.0"
six==1.16.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
traitlets==4.3.3; python_version >= "3.6"
typing-extensions==3.10.0.2; python_version >= "3.6" and python_version < "3.8" and python_full_version >= "3.6.1"
zipp==3.6.0; python_version < "3.8" and python_version >= "3.6"
